<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lume.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35BC2BE52F2994B600774EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35BC2BF22F2994B700774EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35BC2BFC2F2994B700774EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
